In [ ]:
#Fatality study Austin,TX
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
file_one = "Resources/2018_APD_Traffic_Fatality_Data_021219.csv"
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head(2)
len(file_one_df)
#num_fats=file_one_df["Number of Fatalities"].sum()
print(num_fats)
file_one_df["Type"].value_counts()

In [ ]:
file_two = "Resources/2017_APD_Traffic_Fatalities.csv"
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")
file_two_df.head(2)

In [ ]:
file_three = "Resources/2016_APD_Traffic_Fatalities.csv"
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")
file_three_df.head(2)

In [ ]:
file_four = "Resources/2015_APD_Traffic_Fatalities.csv"
file_four_df = pd.read_csv(file_four, encoding="ISO-8859-1")
file_four_df.head(2)

In [ ]:
file_one_df.columns

In [ ]:
file_two_df.columns

In [ ]:
file_three_df.columns

In [ ]:
file_four_df.columns

In [ ]:
organized_file_2018 = file_one_df[['Type', 'Number of Fatalities', 'Location', 'Date', 'Hour', 'Related', 'Killed driver pass', 'Speeding',
       'Ran Red Light or Stop Sign',
       'Suspected Impairment', 'Type of road',
       'Failure to stop and render aid', 'X coord', 'Y coord']]
organized_file_2018.head(2)

In [10]:
organized_file_2017 = file_two_df[['Type', 'Number of Fatalities',
       'Location', 'Date', 'Hour', 'Related', 'Killed driver pass', 'Speeding','Ran red light or stop sign',
       'Suspected Impairment', 'Type of road',
       'Failure to stop and render aid', 'X coord', 'Y coord']]

In [11]:
organized_file_2017c = organized_file_2017.rename(columns={"Ran red light or stop sign":"Ran Red Light or Stop Sign"})
organized_file_2017c.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,Motor Vehicle,1,8200 blk N. Lamar Blvd,01/03/2017,1,MV/FO,driver,Y,N,DRIVER,high use roadway,N,-97.709153,30.350809
1,Bicycle,1,Research Blvd SVRD NB/Riata Trace Pkwy,01/08/2017,15,MV/Bike,NaN,N,Y,NONE,other highway,N,-97.753497,30.426752

In [12]:
organized_file_2016 = file_three_df[['TYPE','Number of Fatalities','LOCATION', 'Date', 'Hour', 'Related', 'Victim', 'Speeding', 'Ran Red Light or Stop Sign', 'SUSPECTED IMPAIRMENT', 'TYPE OF ROAD', 'FTSRA', 'COORD X', 'Y COORD']]

In [13]:
organized_file_2016c = organized_file_2016.rename(columns={"TYPE":"Type", "LOCATION":"Location", "Victim":"Killed driver pass", "SUSPECTED IMPAIRMENT":"Suspected Impairment", "TYPE OF ROAD":"Type of road", "FTSRA":"Failure to stop and render aid", "COORD X":"X coord","Y COORD":"Y coord"})
organized_file_2016c.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,Pedestrian,1,9700 Blk Lake Creek Pkwy,01/06/2016,23,MV/Ped,NaN,N,N,PED,local street,y,-97.793878,30.475234
1,Pedestrian,1,4800 E. Riverside Dr.,01/14/2016,14,MV/Ped,NaN,N,N,UNKNOWN,high use roadway,n,-97.717471,30.231659

In [14]:
organized_file_2015 = file_four_df[['TYPE', 'Number of Fatalities', 'LOCATION', 'Date', 'Hour', 'Related', 'Killed: driver/pass', 'Speeding', 'Ran Red Light', 'SUSPECTED IMPAIRMENT',
       'TYPE OF ROAD', 'FTSRA', 'X COORD', 'Y COORD']]

In [15]:
organized_file_2015c = organized_file_2015.rename(columns={"TYPE":"Type", "LOCATION":"Location", "Killed: driver/pass":"Killed driver pass", "Ran Red Light":"Ran Red Light or Stop Sign", "SUSPECTED IMPAIRMENT":"Suspected Impairment", "TYPE OF ROAD":"Type of road", "FTSRA":"Failure to stop and render aid", "X COORD":"X coord","Y COORD":"Y coord"})
organized_file_2015c.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,Motor Vehicle,1,600 Blk E Koenig Lane,01/06/2015,17,MV/MV,driver,Y,N,DRIVER,High-use roadway,no,-97.715944,30.320670
1,Pedestrian,1,12900 Blk N IH35 SB,01/07/2015,18,MV/Ped,ped,N,N,none,IH35,No,-97.673245,30.385484

In [16]:
# Merge two dataframes using an outer join
merge_table1 = pd.merge(organized_file_2018, organized_file_2017c, on=["Type", "Number of Fatalities", "Location", "Date", "Hour", "Related", "Killed driver pass", "Speeding", "Ran Red Light or Stop Sign", "Suspected Impairment", "Type of road", "Failure to stop and render aid", "X coord", "Y coord"], how="outer")
merge_table1.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,MOTOR VEHICLE,2,5600 Block N IH 35 NB,01/04/2018,23,mv/18 Wheel,driver and passenger,n,n,driver,IH35,n,-97.707660,30.315355
1,MOTOR VEHICLE,1,1500 W Slaughter Ln,01/16/2018,17,MV/ROR,passenger,n,n,none,High Use Road,n,-97.817994,30.173921

In [17]:
merge_table2 = pd.merge(merge_table1, organized_file_2016c, on=["Type", "Number of Fatalities", "Location", "Date", "Hour", "Related", "Killed driver pass", "Speeding", "Ran Red Light or Stop Sign", "Suspected Impairment", "Type of road", "Failure to stop and render aid", "X coord", "Y coord"], how="outer")
merge_table2.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,MOTOR VEHICLE,2,5600 Block N IH 35 NB,01/04/2018,23,mv/18 Wheel,driver and passenger,n,n,driver,IH35,n,-97.707660,30.315355
1,MOTOR VEHICLE,1,1500 W Slaughter Ln,01/16/2018,17,MV/ROR,passenger,n,n,none,High Use Road,n,-97.817994,30.173921

In [18]:
merge_table3 = pd.merge(merge_table2, organized_file_2015c, on=["Type", "Number of Fatalities", "Location", "Date", "Hour", "Related", "Killed driver pass", "Speeding", "Ran Red Light or Stop Sign", "Suspected Impairment", "Type of road", "Failure to stop and render aid", "X coord", "Y coord"], how="outer")
merge_table3.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,MOTOR VEHICLE,2,5600 Block N IH 35 NB,01/04/2018,23,mv/18 Wheel,driver and passenger,n,n,driver,IH35,n,-97.707660,30.315355
1,MOTOR VEHICLE,1,1500 W Slaughter Ln,01/16/2018,17,MV/ROR,passenger,n,n,none,High Use Road,n,-97.817994,30.173921

In [19]:
unique_types = merge_table3["Type"].unique()
unique_types

array(['MOTOR VEHICLE', 'Motorcycle', 'Pedestrian', 'Bicycle',
       'Motor Vehicle'], dtype=object)

In [20]:
merge_table3['Type'] = merge_table3['Type'].str.replace('MOTOR VEHICLE','Motor Vehicle')
merge_table3['Speeding'] = merge_table3['Speeding'].str.replace('Y','y')
merge_table3['Speeding'] = merge_table3['Speeding'].str.replace('N','n')

In [21]:
merge_table3.head(2)

,Type,Number of Fatalities,Location,Date,Hour,Related,Killed driver pass,Speeding,Ran Red Light or Stop Sign,Suspected Impairment,Type of road,Failure to stop and render aid,X coord,Y coord
0,Motor Vehicle,2,5600 Block N IH 35 NB,01/04/2018,23,mv/18 Wheel,driver and passenger,n,n,driver,IH35,n,-97.707660,30.315355
1,Motor Vehicle,1,1500 W Slaughter Ln,01/16/2018,17,MV/ROR,passenger,n,n,none,High Use Road,n,-97.817994,30.173921

In [22]:
evening = merge_table3[merge_table3["Hour"]>=18].count()["Type"]
evening

115

In [23]:
night = merge_table3[merge_table3["Hour"]<=6].count()["Type"]
night

119

In [24]:
morning = merge_table3[merge_table3["Hour"]<=12].count()["Type"]
morning

161

In [25]:
day = merge_table3[merge_table3["Hour"]<=18].count()["Type"]
day

212

In [26]:
unique_types = merge_table3["Type"].unique()
unique_types

array(['Motor Vehicle', 'Motorcycle', 'Pedestrian', 'Bicycle'],
      dtype=object)

In [27]:
unique_types = merge_table3["Type of road"].unique()
unique_types

array(['IH35', 'High Use Road', 'local', 'Other Highway', 'local street',
       'I35', 'high use roadway', 'other highway', 'alley',
       'High-use roadway', 'Other highway', 'Local Street'], dtype=object)

In [28]:
IH35 = merge_table3.loc[merge_table3["Type of road"] == "IH35", :].count()["Type"]
IH35

36

In [29]:
IH35 = merge_table3.loc[merge_table3["Type of road"] == "I35", :].count()["Type"]
IH35

15

## Heat MAP - Fatalities

In [30]:
import gmaps
import pandas as pd

# Google developer API key
# from config import gkey

gkey ="AIzaSyBiuTHNlvH3la5P0oGXtLiZuoBahf7um5Y"

# Configure gmaps
gmaps.configure(api_key=gkey)

In [31]:
# Store latitude and longitude in locations
locations = merge_table3[["Y coord", "X coord"]]

# Fill NaN values and convert to float
fatalities = merge_table3["Number of Fatalities"].astype(float)

In [32]:
locations.head(1)

     Y coord   X coord
0  30.315355 -97.70766

In [33]:
# Customize the size of the figure
figure_layout = {
    'width': '900px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [34]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [35]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=fatalities, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))